{% extends "@views/layouts/layout-default.twig" %}

{# block declare #}

{%
  set viewData = {
    bodyClass: 'format-page',
    headerTheme: 'gray',
    footerType: 'primary'
  }
%}

{% block pageContent %}
{% set format_banner = page_data.custom_data.banner %}
  {% set bannerData = {
    top_banner_title: format_banner.title,
    top_banner_background: format_banner.image,
    top_banner_description: format_banner.description,
  } %}
  {% include "@views/components/top-banner/top-banner.twig" with {
    'topBannerData': bannerData,
    classPage: 'tac',
    colContent: 'col-md-7',
    colImage: 'col-md-5',
    theme: 'linear'
  }%}

  {% for dt in page_data.custom_data.format %}
      <p>Data: "{{ dt.post_title }}"</p>
  {% endfor %}
<p>------------------</p>
  {% for dt in global.filter_modules.training_type %}
      <p>Data: "{{ dt.label }}"</p>
  {% endfor %}
{% endblock %}
